* {
    border: 0;
    margin: 0;
    padding: 0;
}

.mdl-layout-title {
    font-family: 'Arvo', serif;
}

.mdl-layout-title div {
    display: inline;
    position: relative;
    top: 2px;
}

#profilelink:link {
    text-decoration: none;
    color: white;
}

#profilelink:visited {
    text-decoration: none;
    color: white;
}

#profilelink:hover {
    text-decoration: none;
    color: lightgrey;
}

#signoutlink:link {
    text-decoration: none;
    color: white;
}

#signoutlink:visited {
    text-decoration: none;
    color: white;
}

#signoutlink:hover {
    text-decoration: none;
    color: lightgrey;
}

#headlink:link {
    text-decoration: none;
    color: white;
}

#headlink:visited {
    text-decoration: none;
    color: white;
}

#headlink:hover {
    text-decoration: none;
    color: lightgrey;
}

#footer {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #9c26b0;
}

#footer h2 {
    margin: 0;
    font-family: 'Arvo', serif;
    color: white;
    font-size: 2em;
    text-align: center;
}

#title {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #2196f3;
}

#title h2 {
    text-align: center;
    color: white;
    font-size: 5em;
}

#cards {
    padding-top: 50px;
    padding-bottom: 50px;
}

.card-row-container {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.card-row {
    display: inline-flex;
}

#card-row-2-container,
#card-row-3-container {
    margin-top: 50px;
}

.firsttwocards {
    margin-right: 60px;
}

.mdl-card>.mdl-card__title {
    background-color: #9c26b0;
    color: white;
}

@media all and (max-width: 1550px) {
    #footer h2 {
        font-size: 1.5em;
    }
    #title h2 {
        font-size: 3em;
    }
}