* {
    border: 0;
    margin: 0;
    padding: 0;
}

header {
    padding: 1px;
    padding-bottom: 50px;
    background-color: #9c26b0;
}

header .mdl-button {
    margin-top: 20px;
    margin-left: 20px;
}

header h1 {
    font-family: 'Arvo', serif;
    text-align: center;
    color: white;
    font-size: 8em;
    line-height: 1;
    margin: 0;
}

#dialog {
    padding-top: 25px;
    background-color: #2196f3;
    padding-bottom: 25px;
}

#dialog h2 {
    text-align: center;
    color: white;
    font-size: 8em;
    font-weight: 700;
    line-height: 1.5;
}

#cards {
    padding-bottom: 100px;
}

#cards #head {
    text-align: center;
    color: #2196f3;
    font-size: 8em;
    font-weight: 700;
    line-height: 1.5;
}

#card-row-1-container {
    margin-top: 50px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#card-row-1 {
    display: inline-block;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#card-row-1 .demo-card-1 {
    float: left;
}

#card-row-1 .demo-card-2 {
    float: right;
}

.mdl-card>.mdl-card__title {
    background-color: #9c26b0;
    color: white;
}

#card-row-2-container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#card-row-2 {
    width: 800px;
    margin-top: 80px;
    display: inline-block;
}

#card-row-2 .demo-card-3 {
    float: left;
}

#card-row-2 .demo-card-4 {
    float: right;
}

#signup {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #9c26b0;
}

#signup .mdl-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 200px;
    border-radius: 10px;
    font-size: 6em;
}

#footer {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #9c26b0;
}

#footer h2 {
    margin: 0;
    font-family: 'Arvo', serif;
    color: white;
    font-size: 2em;
    text-align: center;
}

@media all and (max-width: 1550px) {
    header h1 {
        font-size: 5em;
    }
    #dialog h2 {
        font-size: 5em;
    }
    #cards #head {
        font-size: 5em;
    }
    #signup .mdl-button {
        font-size: 3em;
    }
    #footer h2 {
        font-size: 1.5em;
    }
}