* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    background-color: #9c26b0;
}

.mdl-layout-title {
    font-family: 'Arvo', serif;
}

.mdl-layout-title div {
    display: inline;
    position: relative;
    top: 2px;
}

#profilelink:link {
    text-decoration: none;
    color: white;
}

#profilelink:visited {
    text-decoration: none;
    color: white;
}

#profilelink:hover {
    text-decoration: none;
    color: lightgrey;
}

#signoutlink:link {
    text-decoration: none;
    color: white;
}

#signoutlink:visited {
    text-decoration: none;
    color: white;
}

#signoutlink:hover {
    text-decoration: none;
    color: lightgrey;
}

#headlink:link {
    text-decoration: none;
    color: white;
}

#headlink:visited {
    text-decoration: none;
    color: white;
}

#headlink:hover {
    text-decoration: none;
    color: lightgrey;
}

#footer {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #9c26b0;
}

#footer h2 {
    margin: 0;
    font-family: 'Arvo', serif;
    color: white;
    font-size: 2em;
    text-align: center;
}

#title {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #2196f3;
}

#title h2 {
    text-align: center;
    color: white;
    font-size: 5em;
}

#post {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
}

#post h2 {
    text-align: center;
    font-size: 5em;
    color: #2196f3;
}

#post .mdl-textfield {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}

#post .mdl-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height: 100px;
    border-radius: 10px;
    font-size: 2.5em;
}

@media all and (max-width: 1550px) {
    #footer h2 {
        font-size: 1.5em;
    }
    #title h2 {
        font-size: 3em;
    }
    #post h2 {
        font-size: 3em;
    }
    #post .mdl-button {
        font-size: 1.5em;
    }
}